* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 62.5%;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%
}

body {
  background-color: #FAFAFA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem;
  color: #2D303D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap
}

.header {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  width: 100%;
  background: url("./img/bg.png") repeat;
  background-size: 126px;
  background-color: #3767C9;
  background-repeat: repeat;
  position: fixed;
  text-align: center;
  z-index: 2;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}

.logo {
  padding: 1.8rem 0;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  position: relative;
}

.swap-btn {
  background: url("./img/switch.svg") no-repeat center center;
  background-color: white;
  background-size: 2rem;
  opacity: .75;
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 1.5rem;
  bottom: -2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border: .1rem solid #ededed;
  border-radius: 50%;
  z-index: 1;
}

.fav-btn {
  background: url("./img/fav.svg") no-repeat center center;
  background-color: white;
  background-size: 2.4rem;
  right: 2rem;
  bottom: 2em;
  outline: none;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
              0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 18px 0px rgba(0,0,0,.12);
  display: inline-flex;
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
              opacity 15ms linear 30ms,
              transform 270ms 0ms cubic-bezier(0, 0, 0.2, 1);
}

.fav-btn:active {
  opacity: .9;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 
              0px 12px 17px 2px rgba(0, 0, 0, 0.14), 
              0px 5px 22px 4px rgba(0,0,0,.12);
}


.menu {
  width: 100%
}

.menu>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.menu>ul>li {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 1.5rem 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.menu__item--active {
  color: #ffffff;
  border-color: #ffffff
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 13.3rem 1rem 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  max-width: 500px;
  margin: 0 auto 2em;
}

.converter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.converter__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.converter__input {
  /* -ms-flex-preferred-size: 70%;
  flex-basis: 70%; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #ededed
}

.converter__input--last, .converter__currency--last {
  padding-bottom: 5px;
  border-bottom: 0
}

.converter__label {
  padding: 12px 0 0 16px;
  font-size: 14px;
}

.converter__flag {
  width: 30px;
  height: 30px
}

.converter__input--number, .converter__input-currency {
  outline: 0;
  border: 0
}

.converter__input--number {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  font-size: 30px;
}

.converter__currency--fav {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.converter__currency {
  background-color: #2D303D;
  border-bottom: 1px solid #414659;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  border-radius: 0 4px 0 0;
}

.converter__currency--last {
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px
}

.converter__input-currency {
  color: white;
  font-size: 25px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 8px;
  max-width: 7.6rem;
}

.exchange-rate {
  color: #737373;
  text-align: center;
  font-size: 1.6rem;
}

.exchange-rate>strong {
  color: #111
}

.tab {
  display: none;
}

.tab--active {
  display: block;
}

.snackbar {
  z-index: 8;
  margin: 2rem;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.snackbar__surface {
  background-color: #333;
  border-radius: 4px;
  max-width: 672px;
  -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.snackbar--open {
  display: flex;
}

.snackbar__label {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  line-height: 1.4rem;
  font-weight: 400;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 1.4rem 1.6rem;
  color: hsla(0,0%,100%,.87);
}